$tablet-padding: 2.25rem;
$tablet-big-padding: 5.25rem;

$desktop-padding: 6rem;
$desktop-big-padding: 9rem;

$avatar-size-desktop: 48px;
$avatar-size-mobile: 36px;
// $placeholder-color: #e1e1e1; // Mercury color
$form-border-color: #e1e1e1; // Mercury color for default state
$form-border-color-active: #000; // BandSite-Black for active state
$form-border-color-error: #d22d2d; // #D22D2D for error state