@use "./partials/global" as *;
@use "./partials/colors" as *;
@use "./partials/mixins" as *;
@use "./partials/variable" as *;

.hero {
  background-image: url("../Assets/Images/hero-bio.jpg");
  height: 12rem;

  @include tablet {
    height: 25rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.about {
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
    padding: 1.5rem 1rem 1rem 1rem;
    @include tablet {
      padding: $tablet-mid-padding $tablet-padding $tablet-padding
        $tablet-padding;
    }

    @include desktop {
      padding-left: $desktop-padding;
    }
  }

  &__image-container {
    height: 11rem;
    align-self: center;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @include tablet {
      padding: 0rem $tablet-big-padding $tablet-padding $tablet-big-padding;
      height: 18rem;
    }

    @include desktop {
      padding-left: $desktop-big-padding;
      padding-right: $desktop-big-padding;
    }
  }

  &__image {
    width: 100%;
  }
}

.slogan {
  padding: 0rem 1rem;
  @include tablet {
    padding: 0rem $tablet-big-padding;
  }

  @include desktop {
    padding: 0rem $desktop-big-padding;
  }

  p {
    margin-bottom: 0.3rem;
    margin-top: 0;
  }
}

.band {
  padding: 1rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  @include tablet {
    padding: $tablet-padding $tablet-big-padding calc($tablet-padding - 1rem)
      $tablet-big-padding;
  }

  @include desktop {
    padding-right: $desktop-big-padding;
    padding-left: $desktop-big-padding;
  }

  &__content {
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
  &__description {
    @include tablet {
      margin-right: 2rem;
    }
  }
}

.gallary {
  background-color: $lightwhite;
  display: flex;
  flex-direction: column;

  &__title {
    padding: 1.5rem 1rem 1rem 1rem;
    margin: 0;

    @include tablet {
      padding: $tablet-mid-padding $tablet-padding 0rem $tablet-padding;
    }

    @include desktop {
      padding-left: $desktop-padding;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: $tablet-padding;
      padding-bottom: 0.75rem;
    }

    @include desktop {
      padding-right: $desktop-padding;
      padding-left: $desktop-padding;
    }
  }

  &__image {
    padding-bottom: 1rem;
    align-self: center;
    width: 100%;

    @include tablet {
      width: calc(33.333% - 1rem);
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
      padding: 0;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.join {
  padding: 1rem;
  padding-bottom: 0;

  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: $black;
    margin: 0;

    @include tablet {
      font-size: 36px;
      line-height: 44px;
    }
  }
  @include tablet {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
    padding-top: $tablet-padding;
  }
}

.form {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid $lightsilver;

  @include tablet {
    padding-right: $tablet-mid-padding;
    padding-left: $tablet-mid-padding;
  }

  &__info {
    width: 100%;
  }

  &__input-wrapper {
    padding: 0 0 1rem 1rem;
    display: flex;
    flex-direction: column;

    label {
      font-size: 10px;
      line-height: 20px;
      font-weight: 600;
      color: $silver;
      text-transform: uppercase;
      margin: 0;
      padding-bottom: 0.25rem;
      @include tablet {
        font-size: 12px;
      }
    }

    input,
    textarea {
      font-family: inherit;
      background-color: $lightwhite;
      width: 100%;
      padding: 0.75rem;
      border: 1px solid $form-border-color;
      border-radius: 4px;
      box-sizing: border-box;
      min-height: 3rem;

      @include desktop {
        padding: 1rem;
      }

      @include tablet {
        padding: 1rem;
      }

      &:active,
      &:focus {
        border: 1px solid $black;
      }
    }

    ::placeholder {
      /* Most modern browsers support this now. */
      color: $black;
    }

    textarea {
      min-height: 6.25rem;
    }
  }

  &__avatar {
    width: 2.25rem;
    height: 2.25rem;
    min-width: 2.25rem;
    min-height: 2.25rem;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1.7rem;

    @include tablet {
      width: 3rem;
      height: 3rem;
      min-width: 3rem;
      min-height: 3rem;
    }
  }

  &__avatar-image {
    width: 135%;
    height: 105%;
    object-fit: cover;
  }

  &__button-wrapper {
    display: flex;
    padding: 0rem 0 0 1rem;

    @include tablet {
      justify-content: flex-end;
    }
  }
  &__button {
    background-color: $black;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $white;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    word-spacing: 3px;
    @include tablet {
      padding: 0 2rem;
      width: 9.3rem;
    }
    &:hover {
      background-color: $darkblack;
    }
  }
}

#comment-name {
  min-height: 2.25rem;

  @include tablet {
    min-height: 3rem;
  }
}

.comments {
  padding: 1rem;
  padding-top: 0;

  @include tablet {
    padding-right: $tablet-big-padding;
    padding-left: $tablet-big-padding;
    padding-bottom: $tablet-padding;
  }
}
.comment {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  border-bottom: 1px solid $lightsilver;

  @include tablet {
    padding: 1.5rem 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    color: $black;
    margin: 0;
    @include tablet {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__date {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: $silver;
    @include tablet {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: $black;
    margin-bottom: 0;
    @include tablet {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__avatar {
    @extend .form__avatar;
    margin: 0rem;

    &--empty {
      background-color: $lightsilver;
    }
  }
}

.error {
  border: 1px solid #d22d2d !important;
}
