@use "./partials/global" as *;
@use "./partials/colors" as *;
@use "./partials/mixins" as *;
@use "./partials/variable" as *;

.hero {
  background-image: url("../Assets/Images/hero-shows.jpg");
  flex-direction: column;
  align-items: flex-start;
  height: 20rem;
  padding-top: 1.5rem;

  @include tablet {
    height: 30rem;
    padding-top: $tablet-mid-padding;
  }

  &__album-name {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $white;
    margin: 0;
    z-index: 1;
    padding-bottom: 1rem;

    @include tablet {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__name {
    width: 70%;
    padding-bottom: 1rem;
  }

  &__song {
    width: 100%;
    height: 7rem;
    z-index: 2;

    @include tablet {
      width: 30rem;
    }
  }
}

.table {
  @include tablet {
    display: flex;
    justify-content: space-between;
    width: calc(100% - $button-width-tablet-desktop);
  }

  &__header {
    color: $silver;
    text-transform: uppercase;
    margin: 0;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 0.75rem 0;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
  }

  &__list {
    & > * {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__header-container {
    @extend .table;
    display: none;
    padding-bottom: 1.25rem;

    @include tablet {
      display: flex;
    }
  }

  &__header {
    @extend .table__header;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    width: calc(100%);
  }

  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: $black;
    margin: 0;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
      font-size: 36px;
      line-height: 44px;
    }

    @include desktop {
      padding-right: $desktop-padding;
    }
  }
}

.show {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $lightsilver;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  &:hover {
    background-color: $lightsilver;
  }

  &:active,
  &:focus {
    background-color: $lightwhite;
  }

  &__info {
    @extend .table;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__date,
  &__venue,
  &__location {
    margin-bottom: 0.5rem;

    @include tablet {
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;
    }

    &-title {
      @extend .table__header;
      font-size: 10px;
      line-height: 20px;
      font-weight: 600;

      @include tablet {
        display: none;
      }
    }

    &-content {
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      color: $black;

      @include tablet {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__date {
    &-content {
      font-weight: 600;
    }
  }
  // The CTA button width for desktop and tablet will be no
  // less than 150px,
  // and have no less than 32px of padding left & right.
  // The CTA button for mobile should span the entire width of its container.

  &__ticket {
    @extend .button;
    margin-top: 1.2rem;

    @include tablet {
      margin-top: 0;
    }
  }
}
